/* Utility */
a {
  text-decoration: none;
}
.row {
  display: flex;
  flex-direction: row;
}
.rowCenter {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.padding10 {
  padding: 10px;
}
.margin10Top {
  margin-top: 10px;
}
.grow {
  flex-grow: 1;
}

/* App */
.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.appTitle {
  font-size: 4vh;
  font-weight: 700;
  font-style: italic;
  color: white;
}
.appBar {
  height: 8vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.appBarButton {
  height: 4vh;
}
.contentWrapper {
  height: 92vh;
  padding: 20px;
}
/* Landing */
.landingTitle {
  font-size: 50px;
  font-weight: 700;
  font-style: italic;
  color: white;
}
.landingWrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.landingPaper {
  padding: 20px;
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.landingForm {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.landingFieldItem {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.landingFieldPaperWrapper {
  margin-bottom: 20px;
  padding: 20px;
}
.landingFieldText {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 700;
  font-style: italic;
  color: #f37022;
}

/* Chat */

.chatWrapper {
  flex-grow: 1;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.chatPaper {
  padding: 10px;
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.chatHeader {
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.chatLangHighlight {
  background-color: #f37022;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.chatLangText {
  font-size: 20px;
  font-weight: 700;
  font-style: italic;
  color: white;
}
.chatNameText {
  font-size: 30px;
  font-weight: 700;
  font-style: italic;
  color: #f37022;
}
.chatMessage {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.chatMessageRating {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.chat {
  flex-grow: 1;
  padding-left: 5px;
  padding-right: 5px;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.chat::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.chatButton {
  white-space: nowrap;
}

/* SurveyForm */
.visitSurveyButton {
  padding: 20px;
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #f37022;
}

/* MobileResponsive */
@media only screen and (max-width: 1000px) {
  .chatPaper {
    padding: 10px;
    width: 100%;
  }
  .contentWrapper {
    padding: 20px;
    min-height: 90vh;
  }
}
